.main {
	width: 1272px;
	margin: 0 auto;
	border: 1px solid #dddddd;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}


/*第一个div*/

.stop {
	float: left;
	width: 1272px;
	height: 30px;
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
	position: fixed;
	margin-top: -10px;
}

.top_1 {
	float: left;
	margin-left: 60px;
}

.top_1 div {
	float: left;
	font-size: 12px;
	line-height: 30px;
}

.top_1 div a {
	text-decoration: none;
	color: #444444;
}

.d1 a:hover {
	color: #24a7dd;
}

.d1 a:nth-of-type(2):hover {
	color: #ff8500;
}

.snum {
	font-size: 12px;
	color: red;
}

.d2 {
	float: left;
	margin-left: 442px;
}

.d2_t1 img {
	vertical-align: middle;
}

.d2 a:hover {
	color: #24a7dd;
}

.d2 a {
	padding-left: 12px;
}


/*第二个div*/

.top_2 {
	float: left;
	width: 1272px;
	height: 120px;
	border: 1px solid #e6e6e6;
	margin-top: 22px;
}

.top2_t1 {
	float: left;
	margin-left: 89px;
}

.sinp_1 {
	float: left;
	width: 477px;
	height: 88px;
	margin-top: 33px;
	margin-left: 121px;
}

.sinp_1 input {
	width: 402px;
	height: 30px;
	border: 2px solid #e74085;
	background: url(../img/suoso.gif)no-repeat;
	background-position: right;
}

.sna {
	float: left;
	font-size: 10px;
	color: #999999;
	margin-top: 12px;
}

.sna a {
	text-decoration: none;
	color: #999999;
}

.sna a:hover {
	color: #333333;
}

.yx {
	cursor: pointer;
	color: #ff4f4f;
}

.shopCat {
	float: right;
	margin-right: 40px;
	margin-top: 33px;
	background: url(../img/shopping-cart1.gif)no-repeat;
	width: 128px;
	height: 36px;
}

.shopCat a {
	text-decoration: none;
	font-size: 12px;
	color: #747474;
	padding-left: 50px;
	line-height: 36px;
}

.shopCat a:hover {
	color: #4c94cd;
}


/*第三个div*/

.top_3 {
	float: left;
	width: 1272px;
	height: 858px;
	background: url(../img/pic-1.gif)no-repeat;
}

.imgAll {
	float: left;
	margin-left: 200px;
}

.cbl {
	position: fixed;
	top: 0;
	right: 0;
	width: 31px;
	height: 641px;
	/*background-color: #444444;*/
}

.gwc-1 {
	float: left;
	font-size: 12px;
	color: #9f9f9f;
}

li {
	list-style: none;
}

footer {
	float: left;
	width: 100%;
	height: 412px;
	margin-left: 30px;
	background-color: #f5f5f5;
}

.sdb {
	float: left;
	width: 1300px;
	height: 412px;
	margin-left: 30px;
	background-color: #f5f5f5;
}

.db {
	float: left;
	width: 1270px;
	height: 100px;
	border-bottom: 1px solid #e5e5e5;
}

.db ul {
	display: inline-block;
}

.db ul li {
	float: left;
	font-size: 18px;
	font-weight: bold;
}

.d-1 img {
	border: 1px solid #ffffff;
	border-radius: 50%;
}

.d-2 {
	padding-top: 18px;
}


/*第二个底部div*/

.db2 {
	float: left;
	width: 1270px;
	height: 182px;
	border: 1px solid #e5e5e5;
}

.d_1 {
	float: left;
	margin-left: 75px;
	margin-top: 30px;
}

.d_2 {
	float: left;
	margin-left: -20px;
}
.q1{
	float: left;
}
.w2,
.w3,
.w4 {
	color: #494949;
	font-size: 16px;
	padding-top: 10px;
}

.w4 {
	font-size: 13px;
}

.w1 {
	font-size: 13px;
	font-weight: bold;
	color: #666666;
}

.w2 span {
	font-size: 12px;
}


/*底部第三个div*/

.dul {
	float: left;
}

.bt {
	font-size: 13px;
	font-weight: bold;
	color: #666666;
}

.bt~li {
	font-size: 12px;
	color: #494949;
}

.l1 {
	padding-top: 15px;
}

.l1~li {
	padding-top: 5px;
}

.s_y {
	display: inline-block;
	/*padding-left: 80px;*/
}


/*第四个div*/

.db3 {
	float: left;
	height: 166px;
	width: 1270px;
	border: 1px solid #e5e5e5;
}

.lj {
	float: left;
	font-size: 14px;
	color: #a4a4a4;
	margin-left: 75px;
	margin-top: 10px;
}

a {
	font-size: 14px;
	color: #a4a4a4;
	text-decoration: none;
}

.dbt {
	float: left;
}

.dbt li {
	display: inline-block;
}

.dbt li:first-of-type {
	margin-left: 50px;
}

.dbwz {
	float: left;
	font-size: 12px;
	margin-left: 180px;
}

.dbwz a {
	font-size: 12px;
	padding-left: 5px;
}